*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.jumbotron{
    background-color: orangered;
    color: white;
}

.logo{
    font-size: 200px;
    color: orangered;
}

.col-sm-4 {
    text-align: center;
    margin: 25px 0;
}

.logo-small{
    color: orangered;
    font-size: 50px;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;

}

.thumbnail img {
    width: 60%;
    height: 60%;
    margin-bottom: 10px;
}

.panel {
    border: 1px solid #f4511e; 
    border-radius:0;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff;
    color: #f4511e;
}

.panel-heading {
    color: #fff;
    background-color: #f4511e;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
} 

.panel-footer {
    background-color: #fff;
}

.panel-footer h3 {
    font-size: 32px;
}

.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}

.panel-footer .btn {
    margin: 15px 0;
    background-color: #f4511e;
    color: #fff;
}