*{
margin: 0;
padding: 5;
font-family: Century Gothic;
}

<!--Styling header tag-->
header{
background-image: url("img\dark.png");
max-height: 100%;
width: 100%;
background-size: cover;
background-position: center;
}

ul{
float: left;
list-style-type: none;
}

ul li{ 
display: inline-block;
}

ul li a{
text-decoration: none;
color: lightgrey;
padding: 5px 20px;
border: 1px solid transparent;
transition: 0.6s ease; <!--for smooth transition when we hover the link-->
}

.search-container {
  float: right;
}

ul li a:hover{
background-color: #fff;
color: black;
}  

.main{
max-width: 1200px;
margin: auto;
} 

.title{
position: absolute;
top: 90%;
left: 50%;
transform: translate(-50%,-50%); 
}

.title h1{
color: lightgrey;
font-size: 20px;
text-align: center;
}

.title p{
color: lightgrey;
font-size: 15px;
}