*{
    font-family: "Playfair Display";
    }
    
    body{
      margin: 20px;
    }
    header{
    width: 100%;
    letter-spacing: 5px;
    }

    h1,h2,h3,h4,h5,h6{
    letter-spacing: 5px;
    }

    pre{
        font-size: 14px;
        font-style: bold;
    }
    
    p{
        font-size: 14px;
        font-family: "serif";
    }
    
    ul{
    float: right;
    }
    
    ul li{ 
    display: inline-block;
    border: none;
    }
    
    ul li a{
    color: black;
    padding: 10px;
    }

    .text-box {
        position: absolute;
        bottom: 5px;
        left: 20px;
        color: grey;
        padding-left: 20px;
        padding-right: 20px;
    }

    .catering h1,h5{
    padding-left: 600px;
    }
        
    .menu{
    text-align: left;
    margin-top: 300px; 
    /*border-top: 1px solid  grey;*/
    }
    .menu h1{
        text-align: center;
    }
     .menu p{
         color: gray;    
     }

    
    form .name, .number, .date-and-time, .message{
      width: 100%;
      font-size: 16px;
      border-top: transparent;
      border-left: transparent;
      border-right: transparent;
      border-bottom-color: lightgray;
      padding: 15px;
    }
    
    .contact{
        margin-top: 200px;
        /*border-top: 1px solid  grey;*/
    }

    form .submit{
      color: black;
      border-color: lightgrey;
        
      }
      
      form .submit:hover{
        background-color: grey;
        cursor: pointer;
      }